
        .muppet-button {
            color:teal;
            background-color:white;
            border-radius: 8px;
            padding:10px;
            font-weight: bold;  
            text-decoration:none;          
        }

        button:hover {
            text-decoration:underline;
            display:inline-block;
        }

        p {
            text-align: center;            
        }

        body {
            background-color:#F89406;
        } 

        #muppetButtonDiv {
            margin-top:60px;
        }

        .muppetDiv{
            margin-top:40px;
            display:inline-block;        
        }
        
        #muppets-appear-here { 
            padding-top: 40px;           
            display:inline;
            font: #F89406;
        }

   